/*-------- GLOBAL STYLES ---------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --text-color: rgb(236, 220, 50);
  --highlight-color:#2919bb;
  --basetext-color: #ffffff;
  --back-color: #2f5b79;
  --backhighlight-color: #ffffff;

}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: "Ubuntu", serif;
  font-weight: 400;
  color:var(--basetext-color);
  background-color:var(--back-color);
  line-height: 1.5;
}


/*-------- TYPOGRAPHY ---------*/
h1 {
  font-size: 3.8rem;
  color: var(--basetext-color);
  font-weight: 700;
  margin: 0px;
  padding: 5px;
  width:100px;
}

h2{
  font-size:2.8rem;  
  font-weight:bold;
  color: var(--text-color);
  margin:auto;
  text-align: center;
}

h3{
  font-size:1.8rem;  
  text-align: center;
  margin:auto;
}

a {
  color: var(--basetext-color);
  display: block;
  margin: 16px 0;
  padding: 8px 48px;
  font-size:1.8rem; 
}


/*-------- UTILITY ---------*/
.content-width {
  width: 334px;
  margin: auto;
}

.change-background{
  background-color: var(--backhighlight-color);
  /* background-color: #2919bb; */
  color:var(--back-color);
}


/*-------- HEADER ---------*/
header{
  padding: 0px;
}
header .toggle{
  margin:auto;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: none;
}
nav ul li a{
  text-decoration: none;
  text-align: end;
  margin:0px;
  padding:0px;
  font-size: 1.6rem;
}
.show-items{
  display:flex;
  flex-direction:column;
  align-items:center;
}
header img{
  margin: auto;
  display: block;
  width:200px;
}

/*-------- FOOTER ---------*/
footer{
  border-top:1px solid #C2D1D9;
  text-align: center;
}


/*----------------------------------------*/
/*             Home page                  */
/*----------------------------------------*/

/*-------- HERO ---------*/
section.hero {
  background-image: url("images/hero_mobile.jpg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
}
section.hero p{
  text-align: center;
  color: var(--text-color);
}

/*-------- ABOUT ---------*/
.about{
  width:100%;
  padding:5% ;
}
.about h2{
  color:var(--highlight-color);
}


/*-------- BENEFIT ---------*/
.benefits{
  width:100%;
  /* margin:5% ; */
}

.benefits p{
  margin: 0px;
  padding:0px 10px 10px 10px;
}
.benefits .benefits_detail ul{
  margin:0px 0px 30px 0px;
}

/*-------- TESTIMONIALS ---------*/
.testimonials_detail{
  background-color:var(--backhighlight-color);
  border-radius:3%;
  margin-bottom:20px;
}
.testimonials .testimonials_detail h3{
  text-align: center;
  margin-bottom: 3px;
  color:var(--back-color);
}
.testimonials .testimonials_detail p{
  margin: 0px;
  padding:0px 10px 10px 10px;
  color:var(--back-color);
}
.testimonials .testimonials_2 h3{
  color:var(--highlight-color);;
}

/*-------- CALL TO ACTIONS ---------*/
.calltoactions{
  text-align: center;
  padding:3%;
}
.calltoactions h2 a {
  color: var(--text-color);
  display: block;
  margin: 16px 0;
  padding: 8px 48px;
  font-size:2.8rem;
}
.calltoactions address a{
  text-decoration: none;
}

/*----------------------------------------*/
/*             Our Team page              */
/*----------------------------------------*/
.team h2{
  text-align: center;
  font-size: 3.6rem;
  width:100%;
  margin:auto;
  /* padding:5%; */
}
.team h3{
  margin-top: 0px;
  color: var(--text-color);
}
.team .team_3style{
  width:100%;
  text-align: center;
  letter-spacing: var(--unnamed-character-spacing-0);
}
.team .team_3style img{
  width:50%;
}
.team .team_3style h3{
  margin-bottom:0px;
}
.team .team_3style p{
  margin-top:0px;
}
/* .team .circle-text-container{
  margin: auto;
} */





/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  .content-width {
    width: 1150px;
  }
  
  h1 {
    font-size: 6.8rem;
  }
  h2 {
    font-size: 4.8rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  p{
    font-size: 2.2rem;
  }

  nav {
    width:100%;
    padding-top: 0px;
  }
  nav .wrapper{
    width:100%;
  }
  nav .toggle {
    display: none;
  }
  nav ul{
    display: flex;
    justify-content:center;
  }
  nav ul li a{
    padding: 10px;
    font-size: 2.4rem;
    margin:auto;
  }

 /* LARGE HERO */
  section.hero {
    background-image: url("images/hero.jpg");
    background-size: 100% 100%;
    min-height: 100vh;
    background-size: cover; 
    /* text-align: initial;*/
    height: initial; 
  }

  /* LARGE BENEFITS */
  .benefits{
    display:flex;
    flex-direction: column;
  }
  .benefits .benefits_2{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin-right: 5px;
  }
  .benefits .benefits_2 .benefits_detail{
    width: calc(100%/3);
  }
  .benefits .benefits_2 .benefits_detail h3{
    font-size: 2.0rem;
  }
  .benefits ul li{
    font-size: 2.0rem;
  }


  /* LARGE TESTIMONIALS */
  .testimonials{
    display:flex;
    flex-direction: column;
  }
  .testimonials .testimonials_2{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
  }
  .testimonials .testimonials_2 .testimonials_detail{
    width: calc(100%/2 - 20px);
    margin:10px;
    height:320px;
  }

  .testimonials .testimonials_2 .testimonials_detail_long{
    height:610px;    
  }

  .calltoactions h2 a{
    font-size: 4.8rem;
  }
  
  /* section.hero p {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  } */
  /* section.hero {
    background-image: url("images/hero_mobile.jpg");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
  }
  section.hero p{
    text-align: center;
    color:rgb(236, 220, 50);
  } */



  /* nav ul li{
    display: flex;
    margin-left: auto;
    margin-top:10px;
    margin-bottom:10px;
  } */
  /* nav ul li a{
    text-transform: uppercase;
    background-color: #424b5a;
    border-radius: 4px;
    color: #ffffff;
    padding:10px 40px; */





  /* h1 {
    font-size: 6.6rem;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  } */

  /* a {
    display: inline-block;
  }

  .content-width {
    width: 1130px;
  } */

  /* LARGE HEADER */
  /* header img{
    margin-top: 15px;
  }
  nav {
    width:100%;
    padding-top: 0px;
    justify-content: flex-start;
  }
  nav .wrapper{
    width:100%;
  }
  nav .toggle {
    display: none;
  }
  #nav-items {
   display: flex;
  }
  nav .login-hidden{
    display: none;
  }

  nav ul{
    margin-left:60px;
    display: flex;
    justify-content: flex-start;
  }
  nav ul li a{
    padding: 20px;
    font-size: 1.2rem;
    margin-top:2%;
  } 
  nav ul li.login{
    display: flex;
    margin-left: auto;
    margin-top:10px;
    margin-bottom:10px;
  }
  nav ul li.login a{
    text-transform: uppercase;
    background-color: #424b5a;
    border-radius: 4px;
    color: #ffffff;
    padding:10px 40px;
  } */

  /* LARGE HERO */
  /* section.hero {
    background-size: auto 75%;
    text-align: initial;
    height: initial;
  }
  section.hero p {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  } */

  /* LARGE BENEFITS */
  /* .benefits{
    display:flex;
    flex-direction: row;
    margin:5%;
  }
  .benefits .benefits_left{
    width: 50%;
    justify-content: flex-start;
    text-align: left;
    margin-right: 5px;
  }
  .benefits .benefits_right{
    width: 50%;
    margin-top: 2%;
    margin-left: 5%;
  } */


  /* LARGE TESTIMONIALS */
  /* .testimonials .testimonials_3style .testimonials_1{
    padding:3%;
  }
  .testimonials .testimonials_3style .testimonials_2{
    padding:3%;
  }
  .testimonials .testimonials_3style .testimonials_3{
    padding:3%;
  } */

  /* MEDIUM CALL TO ACTIONS */
  /* .calltoactions .circle-text-container-hidden p{
    padding:0% 20%;
  } */

}

